[project]
name = "score"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi",
    "uvicorn",
    "jinja2",
    "python-multipart",
]

[dependency-groups]
dev = [
    "ruff",
    "ty",
]
